figure {
    text-align: left !important;
}
.hero.is-cau-background {
    background: url("img/lucaus2019.JPG");
    background-repeat: space;
    filter: opacity(0.7);
}
.hero.is-cau-background .hero-body .title, .hero.is-cau-background .hero-body .subtitle {
    color: white;
}
.hero.is-cau-background .hero-foot .footer {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}
.calendar-service-buttons a.button {
    height: initial;
}
.calendar-service-buttons .inner .is-service-icon {
    font-size: 5rem;
}
.calendar-service-buttons .inner .service-name {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.calendar-service-buttons .inner {
    padding: 1rem;
}
.is-google-color {
    background: #4285F4;
    color: white;
}
.is-microsoft-color {
    background:#00a4ef;
    color: white;
}
.is-apple-color {
    background: white;
    color: black;
}